<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.custreply.galaxy"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Cust Reply</name>

  <description>
      Galaxycamera.id 
  </description>

  <author href="https://galaxycamera.id" email="galaxycameraid@gmail.com">
      Alex Noreaga
  </author>

  <icon src="res/icon.png" />

</widget>